{% extends "base.html" %}
{% block extra_css %}
 <style>
    #assessmentDrawer { 
        background:  var(--main-bg); border-left: 1px solid #e2e8f0; 
        height: 100vh; position: fixed; right: 0; top: 0; 
        width: 30%; display: none; z-index: 1051; 
    }

    #createAssessmentDrawer{ 
        background:  var(--main-bg); border-left: 1px solid #e2e8f0; 
        height: 100vh; position: fixed; right: 0; top: 0; 
        width: 30%; display: none; z-index: 1051; 
    }
</style>
{% endblock %}



{% block content %}
<div class="p-4">
    
    <div class="p-5 text-white shadow-sm mb-4" style="background: linear-gradient(90deg, #0f172a 0%, #1e293b 100%); border-radius: 12px;">
        <h2 class="fw-bold">Assessment Portal</h2>
        <p class="opacity-75 mb-0">Trustably AI Adoption Readiness assessments for your organization.</p>
    </div>

    <div class="row g-3 mb-5">

        {% set items = [
            ('Total Assessments', 'bi-bookmark-check', 'secondary'),           
            ] %}
        {% for label, icon, color in items %}
        <div class="col">
            <div class="card-custom p-3 shadow-sm">
                <div class="text-{{ color }} mb-2 fs-4"><i class="bi {{ icon }}"></i></div>
                <h4 class="fw-bold m-0">{{ assessments|length}}</h4>
                <p class="text-muted small mb-0">{{ label }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    

    <div class="p-5 text-white shadow-sm mb-4" style="background: linear-gradient(90deg, #0f172a 0%, #1e293b 100%); border-radius: 12px;">
          <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="fw-bold">Assessments</h4>
                <button class="btn btn-primary" onclick="openCreateAssessmentDrawer()">+ New Assessment</button>
            </div>
         <div class="card-custom p-3">
                    <table class="table table-sm align-middle">
                        <thead>
                            <tr class="text-muted">
                                <th>Name</th>
                                <th>Status</th>
                                <th>Score</th>
                                <th>Started On</th>
                                <th>Last Updated</th>
                                <th>Actions</th>
                               
                            </tr>
                        </thead>
                        <tbody id="assessmentTable">
                            <!-- Row -->
                             {% for assessment in assessments %}
                            <tr>
                                <td><strong> {{ assessment['assessment_name'] }} </strong></td>
                                <td><span  {% if assessment['assessment_status'] == 'In Progress' %}class="badge bg-anthropic-green"{% endif %} 
                                           {% if assessment['assessment_status'] == 'Created' %}class="badge bg-anthropic-orange"{% endif %} 
                                           {% if assessment['assessment_status'] == 'Completed' %}class="badge bg-anthropic-sidebar"{% endif %} 
                                    > {{ assessment['assessment_status'] }} </span></td>
                                <td>
                                    {% if assessment['assessment_status'] == 'Completed' %} {{ assessment['assessment_score']['score']}} {% endif %}
                                    {% if assessment['assessment_status'] != 'Completed' %}-{% endif %}
                                </td>
                                <td> {{assessment['assessment_start_date']}} </td>
                                <td> {{assessment['assessment_last_updated_date']}} </td>
                                <td>
                                   

                                    <button class="btn btn-sm" onclick="deleteAssessment('{{ assessment['assessment_id'] }}')" title="Delete">
                                        <i class="bi bi-trash3-fill text-danger"></i>
                                    </button>

                                   

                                    <a href="{{ url_for('assessment_detail', assessment_id=assessment['assessment_id']) }}"
                                        class="btn btn-sm">
                                        <i class="bi bi-box-arrow-in-right text-secondary"></i>
                                    </a>

                                    
                                    {% if assessment['assessment_status'] in ['Created']  %}  
                                        
                                        <button class="btn btn-sm" onclick="startAssessmentReporting('{{ assessment['assessment_id'] }}')" title="Generate Report">
                                            <i class="bi bi-play-fill text-secondary"></i>
                                        </button>
                                     {% endif %}
                                     {% if assessment['assessment_status'] == 'Completed' %}  
                                        <a href="{{ url_for('download_assessment_report', assessment_id=assessment.assessment_id) }}" class="btn btn-sm">
                                            <i class="bi bi-arrow-down-circle-fill text-secondary"></i>
                                        </a>
                                    {% endif %}

                                </td>
                                
                            </tr>
                            {% endfor %}
                         
                        </tbody>
                    </table>
                </div>
    </div>
</div>



     <div id="createAssessmentDrawer" class="shadow-lg">
        <div class="p-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h6 class="fw-bold m-0">Create Assessment</h6>
                <button class="btn-close" onclick="closecreateAssessmentDrawer()"></button>
            </div>
            <div>
               <label class="text-muted fw-bold small mb-2">Assessment Name</label>
                <textarea id="assessmentName" class="form-control mb-4" rows="1" placeholder="Enter details..."></textarea>
                <button id="saveBtn" class="btn btn-dark w-100 py-2 fw-bold" onclick="createAssessment()"> 
                    <span id="btnText">Save Changes</span>
                    <span id="btnSpinner" class="spinner-border spinner-border-sm d-none" role="status"></span>
                </button>
            </div>

         </div>

    </div>



{% endblock %}

{% block extra_js %}
<script>


function openCreateAssessmentDrawer() {
    console.log("In openCreateAssessmentDrawer");
    console.log(document.getElementById('createAssessmentDrawer'))
    document.getElementById('createAssessmentDrawer').style.display = 'block';
}

function closeDrawer() {
    document.getElementById('assessmentDrawer').style.display = 'none';
}

function closecreateAssessmentDrawer() {
    document.getElementById('createAssessmentDrawer').style.display = 'none';
}



async function createAssessment() {
    console.log("createAssessment");
    const assessment_name = document.getElementById('assessmentName').value;
    try {
            const response = await fetch('/create_assessment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    assessment_name: assessment_name
                })
            });

            if (response.ok) {
                // Optional: Update the UI to show this question is answered
                
                window.location.reload();
            } else {
                alert("Failed to save . Please try again.");
            }
        } catch (error) {
            console.error("Error saving :", error);
        } finally {
           console.log("Done");
        }
}

async function deleteAssessment(assessment_id) {
    console.log("deleteAssessment");
    console.log(assessment_id);
    try {
            const response = await fetch('/delete_assessment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    assessment_id: assessment_id
                })
            });

            if (response.ok) {
                // Optional: Update the UI to show this question is answered
                
                window.location.reload();
            } else {
                alert("Failed to delete . Please try again.");
            }
        } catch (error) {
            console.error("Error delete :", error);
        } finally {
           console.log("Done");
        }
}

function downloadAssessment(assessment_id) {
    console.log("downloadAssessment");
    console.log(assessment_id);
    alert("Coming Soon");
}


</script>

{% endblock %}